

.map {
    width: 100%;
    height: 400px;
  }
  #info {
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 100;
  }
  .tooltip.in {
    opacity: 1;
  }
  .tooltip.top .tooltip-arrow {
    border-top-color: white;
  }
  .tooltip-inner {
    border: 1px solid black;
    background-color: white;
    padding: 2px;
  }
